<nav class="site-footer">
  <div class="schedule-mobile" id="hours" >
    <h1 class="home-schedule" style="text-align: center;">Open 6 days a week</h1>
    <ul class="home-hours" style="text-align: center; color: #fff;">
      <li><em style="margin-right: 1rem; font-size: 24px;">Sun</em> 11am-9:30pm</li>
      <li><em style="margin-right: 1rem; font-size: 24px;">Tues-Sat</em> 11:30am-10pm</li>
      <li><em style="margin-right: 1rem; font-size: 24px;">Mon</em> Closed</li>
    </ul>
    <p>
      <h1>Good food for good health</h1>
      <a href="https://www.facebook.com/pages/Mei-Mei-Chinese-Take-Out-Restaurant/111703728866332" class="facebook">Say Hello on <span><img src="https://camo.githubusercontent.com/e6d2040c65e8c6f4da10db72436cf9a1196e43ae/68747470733a2f2f6564656e742e6769746875622e696f2f537570657254696e7949636f6e732f696d616765732f7376672f66616365626f6f6b2e737667" width="20" title="Facebook" data-canonical-src="https://edent.github.io/SuperTinyIcons/images/svg/facebook.svg" style="max-width:100%; margin-left: 8px; vertical-align: middle;"></span></a>
    </p>
  </div>
  <div style="text-align: center; color: #fff; font-size: 13px;">
    <div style="display: inline;">
    <div style="display: inline-block">
    © {{ site.time | date: '%Y' }} Mei Mei Chinese Restaurant
    </div>
    <div class="designby" style="display: inline-block; font-size: 0.9em"><a href="https://jchee.org" style="color: #fff">Design By</a><div>
    </div>
  </div>
<nav>

